# Archivos compilados de Java
*.class
class/

# Archivos de paquetes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Archivos de log
*.log

# Archivos de IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
*.swp
*.swo
*~

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
*.swp
